html {
  display: grid;
  place-items: center;
}

img {
  width: 100%;
}

h3 {
  text-transform: uppercase;
}

.bmr-calculator {
  max-width: 300px;
  padding: 8px 24px;
  background-color: #f3f3f3d2;
  border-radius: 15px;
}

.bmr-calculator,
.bmr-calculator * {
  box-sizing: border-box;
}

.bmr-calculator h2 {
  text-align: center;
  background-color: #1cb0e6;
  font-weight: 900;
  margin: -8px -24px;
  padding: 16px;
  color: white;
  border-radius: 15px;
  letter-spacing: 0.15rem;
}

.bmr-calculator form input[type="text"] {
  width: 100%;
  padding: 4px 16px;
  font-size: 16px;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 12px;
}

.bmr-calculator form {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.bmr-calculator form #female {
  margin-left: 20px;
}

.bmr-calculator form .height,
.bmr-calculator form .weight {
  position: relative;
}

.bmr-calculator form .unit {
  position: absolute;
  right: 20px;
  top: 65px;
  color: #777;
}

.bmr-calculator .result .calculate-btn {
  padding: 8px 24px;
  margin: 16px 0;
  font-size: 18px;
  font-weight: 100;
  border: none;
  color: #fff;
  cursor: pointer;
}

.calculate-btn {
  background-color: #1cb0e6;
  font-weight: 900;
  border-radius: 15px;
  letter-spacing: 0.15rem;
}

.bodyfat-btn {
  background-color: #1cb0e6;
  font-weight: 900;
  border-radius: 15px;
  letter-spacing: 0.15rem;
  margin-top: 2rem;
}

.bodyfat-btn-1 {
  background-color: #1cb0e6;
  font-weight: 900;
  border-radius: 15px;
  letter-spacing: 0.15rem;
  margin-top: 2rem;
}

.bmr-calculator .result {
  text-align: center;
  font-size: 18px;
}

.bmr-calculator .result {
  color: black;
  font-size: 38px;
  margin-right: 8px;
  vertical-align: middle;
}

#weight {
  margin-bottom: 2rem;
}

.calories {
  font-size: 22px;
  text-align: left;
}

p {
  font-size: 22px;
  color: navy;

  text-align: left;
}

/* .bodyfat-est {
  display: grid;
  align-items: center;
  overflow: hidden;
  max-height: 100vh;
  max-width: 85vw;
  margin: 0 auto;
  display: none;
  z-index: 8;
} */

button {
  cursor: pointer;
}

.bodyfat p {
  text-align: center;
  color: black;
  font-size: 0.75rem;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}

@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}

/* Body fat images */

.tour-img-container {
  display: grid;
  place-items: center;
}

.tour-img {
  height: 25rem;
  object-fit: cover;
  border-radius: 15px;
}

.tour-card {
  transition: 0.2s;
  /* background: rgb(220, 220, 220); */
  margin-bottom: 2.5rem;
}

/* @media screen and (min-width: 768px) {
  .featured-center {
    display: grid;
    place-items: center;
    display: none;
  }
} */

/* close button */

.close {
  background: transparent;
  border: none;
}

p {
  font-size: 16px;
  text-align: left;
  color: black;
  line-height: 1.35rem;
}
