/*================
Global styles
==================*/

*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

/* * {
  border: 2px solid red;
} */

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  /* h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  } */
}

/* img {
  width: 100%;
  display: block;
} */

img:not(.logo) {
  width: 100%;
  display: block;
}

.span {
  color: #1cb0e6;
}

.section {
  padding: 5rem 0;
}

.section-title {
  text-align: center;
  margin-bottom: 4rem;
}

.section-title span {
  color: #1cb0e6;
}

.section-title h2 {
  text-transform: uppercase;
  color: black;
  letter-spacing: 0.25rem;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}

@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}

p {
  min-width: 25rem;
}

html:focus-within {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

body {
  scroll-padding-top: 1rem;
}

.app-btn {
  padding: 1.25rem 2.25rem;
  text-transform: uppercase;
  border-radius: 12px;

  background-color: white;
  font-weight: bolder;
  color: #1cb0e6;
  margin-top: 1rem;
  font-weight: 900;
}

.options-buttons {
  display: grid;
  grid-template-columns: repeat (2, 1fr);
}

.app-btn-1 {
  padding: 1.25rem 2.25rem;
  text-transform: uppercase;
  border-radius: 12px;
  cursor: pointer;
  background-color: white;
  font-weight: bolder;
  color: #1cb0e6;
  margin-top: 1rem;
  margin-right: 1rem;
  margin-left: 1rem;
}

.app-btn-1:hover {
  cursor: pointer;
}

/*================
Section center
==================*/

.section-center {
  width: 90vw;
  margin: auto;
  max-width: 1170px;
}

@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}

/*================
NAV BAR
==================*/
/* .nav-links {
  display: none;
} */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  box-shadow: #666;
  z-index: 2;
}

ul {
  list-style: none;
}

.nav-link {
  display: block;
  padding: 1rem 2rem;
  font-size: 1rem;
  color: #1cb0e6;
}

.nav-links {
  height: 0;
  overflow: hidden;
  margin: 0 auto;
}

.show-links {
  height: 40vh;
}

.nav-icons {
  display: none;
}

.nav-center {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

h4 {
  text-transform: uppercase;
}

.nav-toggle {
  background: transparent;
  font-size: 2rem;
  border: transparent;
}

.nav-toggle:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

/*fixed navbar*/

.navbar-fixed {
  background-color: white;
  position: fixed;
  z-index: 6;
  width: 100%;
  box-shadow: 5px 10px 12px black;
}

.navbar-fixed .nav-btn {
  color: white;
}

.nav-toggle {
  padding-right: 3rem;
}

.navbar-fixed li a {
  color: white;
  font-weight: 900;
}

.navbar-fixed li a:hover {
  color: white;
  font-weight: 900;
}

/*================
END NAV BAR
==================*/

/*================
SIDE BAR
==================*/
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffc734;
  z-index: 5;
  display: grid;
  place-items: center;
  transition: 0.8s;
  transform: translateX(-100%);
}

.show-sidebar {
  transform: translateX(0);
}

.sidebar-links {
  list-style: none;
  text-align: center;
}

.sidebar-links a {
  list-style: none;
  color: white;
  text-transform: uppercase;
  display: inline-block;
  margin: 1.5rem;
}

.sidebar-links a:hover {
  color: #efb923;
  transition: 0.5s;
}

.social-icons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  list-style: none;
  width: 20rem;
  margin-top: 3rem;
}

.social-icon {
  font-size: 1.6rem;
  color: black;
}

.social-icon:hover {
  color: #efb923;
  transition: 0.5s;
}

.close-btn {
  background: transparent;
  border: transparent;
  font-size: 2rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  color: #bd020c;
}

/*================
END SIDE BAR
==================*/

/*================
HERO
==================*/

.hero {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(
      109.6deg,
      rgba(0, 0, 0, 0.54) 11.2%,
      rgb(63, 61, 61) 78.9%
    ),
    url("./images/hayley-kim-studios-eot-ka5dM7Q-unsplash-min.jpg") center/cover
      no-repeat;
}

.hero-banner {
  text-align: center;
  padding: 0 1rem;
}

.hero-banner h2 {
  color: white;
  text-transform: uppercase;
  margin-bottom: 2rem;
  font-weight: 900;
}

.hero-banner h2 {
  color: white;
  text-transform: uppercase;
  font-weight: 900;
  margin-bottom: 2rem;
}

/* @media  screen and (min-width:768px) {
  .hero{
    background: linear-gradient(rgb(44, 174, 186, 0.7), rgba(0,0,0,0.7)), url('./images/hayley-kim-studios-eot-ka5dM7Q-unsplash.jpg') center/cover no-repeat;
  }
  
} */

.hero-icons {
  justify-items: start;
}

.hero-center {
  min-height: calc(100vh - 5rem);
  display: grid;
  place-items: center;
}

/*================
About
==================*/

.about-photo,
.about-info {
  margin-bottom: 1rem;
}

.about-photo {
  height: 25rem;
  border-radius: 15px;
}

.about-info {
  text-transform: uppercase;
  line-height: 4rem;
  /* text-align: center; */
  font-weight: 900;
  letter-spacing: 0.1rem;
}

.about-info h2 {
  text-transform: uppercase;
  color: #1cb0e6;
  /* text-align: center; */
  margin-bottom: 1rem;
  font-weight: 900;
  letter-spacing: 0.25rem;
}

@media screen and (min-width: 992px) {
  .about-center {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .about-img,
  .about-info {
    flex: 0 0 calc(50% - 2rem);
    margin-bottom: 0;
    align-self: center;
  }
}

/*================
 End About
==================*/

/*================
 Why MC Dietitians
==================*/

.tour-card {
  transition: 0.2s;
  /* background: rgb(220, 220, 220); */
  margin-bottom: 2.5rem;
}

.tour-img-container {
  position: relative;
}

.tour-img {
  height: 25rem;
  object-fit: cover;
  border-radius: 15px;
}

.tour-date {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-bottom: 0;
  background: white;
  color: black;
  padding: 0.25rem;
  border-radius: 15px;
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 0.75rem;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .featured-center {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .tour-card {
    flex: 0 0 calc(50% - 2rem);
  }
}

/*================
 End Why us
==================*/

/*================
 Start Modal
==================*/

.modal {
  height: 100vh;
  display: none;
  place-items: center;
  /* justify-content: space-evenly; */
  background: linear-gradient(
      109.6deg,
      rgba(0, 0, 0, 0.54) 11.2%,
      rgb(63, 61, 61) 78.9%
    ),
    url("./images/hunger-413685_1280.jpg") center/cover no-repeat;
  margin: 0 auto;
}

.contact-left p {
  width: 65vw;
  text-align: center;
}

.modal p {
  color: white;
  display: block;
  font-size: 0.85rem;

  font-weight: bold;
  line-height: 2rem;
  text-transform: uppercase;
}

/*================
 Start Contact
==================*/

/* .contact-right img {
  height: 20rem;
  width: 20rem;
} */

.contact-container {
  height: 100vh;
  display: none;
  place-items: center;
  /* justify-content: space-evenly; */
  background: linear-gradient(rgb(44, 174, 186, 0.7), rgba(0, 0, 0, 0.7));
  margin: 0 auto;
}

.contact-container h2 {
  text-align: center;
}

.contact-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  display: flex;
  justify-content: space-between;
}

.contacts-inputs {
  width: 400px;
  height: 50px;
  border: none;
  outline: none;
  padding-left: 25px;
  border-radius: 50px;
  color: #666;
}

.contact-left textarea {
  height: 140px;
  padding-top: 50px;
  border-radius: 20px;
}

.contacts-inputs:focus {
  border: 4px solid #1cb0e6;
}

.contact-right img {
  width: 500px;
}

@media (max-width: 800px) {
  .contacts-inputs {
    max-width: 80vw;
  }
  .contact-right {
    display: none;
  }
}

/*================
 end Contact
==================*/

/*================
 Footer
==================*/

.footer {
  text-align: center;
  padding-left: 2rem;
  padding-right: 2rem;
}

.footer li {
  list-style: none;
}

.footer-links,
.footer-icons {
  display: flex;
  justify-content: center;
  margin: 1.5rem 0;
  flex-wrap: wrap;
}

.footer-link {
  font-size: 2rem;
  margin-right: 4rem;
  margin-left: 4rem;
}

.footer-icon {
  color: #44c3f1;
  font-size: 2rem;
  margin-right: 2rem;
}
